@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

@if (ParentDropdownState.IsHorizontal)
{
    <div class="@ClassString" data-visible="@VisibleString"
        @attributes="@AdditionalAttributes"
        @onmouseenter="@OnMouseEnterHandler"
        @onmouseleave="@OnMouseLeaveHandler">
        @ChildContent
    </div>
}
else
{
    @if (ParentDropdownState.IsHover && ParentDropdownState.NestedIndex == 1 )
    {
        <Floating Visible ="true" Placement ="Placement.RightStart"
            Anchor ="@ParentBarDropdown?.Id"
            ContainerId="@ParentNavbar?.Id">
            <CascadingValue Value="@ParentBarItem">
                <CascadingValue Value="@ParentBarItemState">
                    <CascadingValue Value="@ParentBarDropdown">
                        <CascadingValue Value="@ParentDropdownState">
                            <div class="@ParentNavbar?.ClassString" data-collapse="@ParentNavbar?.CollapseModeString">
                                <div class="@ParentBarDropdown?.ClassString">
                                    <div class="@ContainerClassString" style="left:0;margin-top:0;">
                                        <div class="@ClassString" data-visible="@VisibleString"
                                            @attributes="@AdditionalAttributes"
                                            @onmouseenter="@OnMouseEnterHandler"
                                            @onmouseleave="@OnMouseLeaveHandler">
                                            @ChildContent
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </Floating>
    }
    else
    {
        <div class="@ContainerClassString">
            <div class="@ClassString" data-visible="@VisibleString"
                @attributes="@AdditionalAttributes"
                @onmouseenter="@OnMouseEnterHandler"
                @onmouseleave="@OnMouseLeaveHandler">
                @ChildContent
            </div>
        </div>
    }
}
