@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<a @ref="@ElementRef" id="@Id" class="@ClassString" style="@StyleClassString" @attributes="@AdditionalAttributes" role="button"
    @onclick="@ClickHandler"
    @onmouseenter="@OnMouseEnterHandler"
    @onmouseleave="@OnMouseLeaveHandler">
    @ChildContent
</a>
