@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        <nav class="@ClassString" data-collapse="@CollapseModeString" data-broken="@BrokenStateString" @attributes="@AdditionalAttributes">
            @ChildContent
        </nav>
    </CascadingValue>
</CascadingValue>

<FloatingContainer Id="@Id"/>
