@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

@if (Context != null)
{
    <div @key="@Context.Id"
        @ref="@Context.Element"
        id="@Context.Id"
        style="@StyleClassString"
        class="@ClassString"
        role="tooltip"
        data-floating-placement="@Context.State.Placement_">

        @Context.ChildContent

        @if (Context.State.UseArrow)
        {
            <div class="@Context.State.ArrowStyleClass" style="@ArrowStyleClassString" data-element="arrow"></div>
        }
    </div>
}

