@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

@if (Context != null)
{
    <div @key="@Context.Id" @ref="@Context.Element" @attributes="@AdditionalAttributes" id="@Context.Id" style="@StyleClassString" class="@ClassString">

        @Context.ChildContent

        @if (Context.State.UseArrow)
        {
            <div class="@Context.State.ArrowStyleClass" style="@ArrowStyleClassString" data-element="arrow"></div>
        }
    </div>
}

