@page "/floatings"
@inject IStringLocalizer<Floatings> Localizer
@inject IJSRuntime JS
@inject FloatingService Service
@implements IAsyncDisposable

<style type="text/css">
    .test-container{
        overflow: hidden;
        position: relative;
        tab-size: 4;
        line-height: inherit;
        box-sizing: border-box;
        border: 1px dotted #bfc3d9;
        border-radius: 4px;
        display: grid;
        height: 20rem;
        width: 20rem;
        place-items: center;
        padding: .5rem;
    }

    .test-btn{
        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        color-scheme: dark;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        border: 0 solid #bfc3d9;
        font-family: inherit;
        font-size: 100%;
        line-height: inherit;
        color: inherit;
        margin: 0;
        text-transform: none;
        -webkit-appearance: button;
        background-color: transparent;
        background-image: none;
        cursor: pointer;
        position: absolute;
        padding: 1rem;
        transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;
    }
    .test-dot{
        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        color-scheme: dark;
        -webkit-font-smoothing: antialiased;
        font-family: inherit;
        font-size: 100%;
        line-height: inherit;
        color: inherit;
        text-transform: none;
        cursor: pointer;
        box-sizing: border-box;
        border: 0 solid #bfc3d9;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 9999px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(87 89 105/var(--tw-border-opacity));
    }

    .test-trigger{
        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        color-scheme: dark;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        border: 0 solid #bfc3d9;
        font-family: inherit;
        margin: 0;
        text-transform: none;
        -webkit-appearance: button;
        background-color: transparent;
        background-image: none;
        z-index: 50;
        height: 6rem;
        width: 6rem;
        cursor: default;
        border-width: 2px;
        border-style: dashed;
        border-color: rgb(31 32 40/var(--tw-border-opacity));
        padding: .5rem;
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 700;
        color: rgb(31 32 40/var(--tw-text-opacity));
    }

    .test-floating {
        position:absolute;
        background: #333;
        color: white;
        font-weight: bold;
        padding: 5px;
        border-radius: 4px;
        font-size: 90%;
        pointer-events: none;
    }

    .test-arrow {
        position: absolute;
        background: #333;
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
    }
</style>



<h3>@Localizer["Title"]</h3>
<h4>@Localizer["Describe"]</h4>

<DemoBlock Title="@Localizer["Normal01"]" Introduction="@Localizer["NormalIntro01"]" Name="Normal">
    <div class="test-container">
        @foreach(var item in Dots)
        {
            <button @onclick="@(e=>Placement01 = item.Key)" class="test-btn" style="@item.Value">
                <div class="test-dot"></div>
            </button>
        }
        <button id="test1" @onclick="(e=> Visible01 = !Visible01)" class="test-trigger">@Localizer["DemoAnchor01"]</button>
        <Floating Class="test-floating" Anchor="test1" Visible="@Visible01" Placement="@Placement01">
            <b>@Placement01</b>
        </Floating>
    </div>
</DemoBlock>
<Tips class="mt-3"> 
    <p>@((MarkupString)Localizer["Tips0101"].Value)</p>
</Tips>


<DemoBlock Title="@Localizer["Normal02"]" Introduction="@Localizer["NormalIntro02"]" Name="Complex">
    <div class="row g-3">
        <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
            <button class="btn btn-primary" role="button"
                @ref="@Wrapper02.Ref"
                @onclick="(e=> Visible0201 = !Visible0201)"
                @onmouseenter="(e=> Visible0201 = true)"
                @onmouseleave="(e=> Visible0201 = false)">@Localizer["DemoAnchor0201"]</button>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
            <Button @ref="@Button02" Color="Color.Secondary" OnClick="(()=> Visible0202=!Visible0202)">@Localizer["DemoAnchor0202"]</Button>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
            <button class="btn btn-primary DemoDesc0201" role="button">@Localizer["DemoAnchor0203"]</button>
        </div>
    </div>

    <Floating Class="test-floating" Wrapper="Wrapper02" Visible="@Visible0201">
        <b>@Visible0201</b>
    </Floating>

    <Floating Class="test-floating" Component="Button02" Visible="@Visible0202" Placement="Placement.Top">
        <b>@Visible0202</b>
    </Floating>

    <Floating Class="test-floating"
        Selecter=".DemoDesc0201"
        Visible="true"
        AutoUpdate="true"
        Placement="Placement.Right"
        ShiftPadding="5"
        AxisOffset="6"
        UseArrow="true"
        ArrowStyleClass="test-arrow"
        ArrowOffset="-4">
        <b>@Localizer["DemoDesc0201"]</b>
    </Floating>
</DemoBlock>
<Tips class="mt-3"> 
    <p>@((MarkupString)Localizer["Tips0201"].Value)</p>
    <p>@((MarkupString)Localizer["Tips0202"].Value)</p>
</Tips>


<DemoBlock Title="@Localizer["Normal03"]" Introduction="@Localizer["NormalIntro03"]" Name="Container">
    <div class="row g-3">
        <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
            <button id="test-container" class="btn btn-primary" role="button" @onclick="(e=> Visible03 = !Visible03)">@Localizer["DemoAnchor0301"]</button>
        </div>
    </div>

    <FloatingContainer Id="myContainer"/>

    <Floating Class="modal-content" Style="width:60rem;"
        ContainerId="myContainer"
        Anchor="test-container"
        Visible="@Visible03"
        AutoUpdate="true"
        Placement="Placement.RightStart">
        <Card>
            <CardHeader>@((MarkupString)Localizer["DemoAnchor0302"].Value)</CardHeader>
            <CardBody>
                <Table Height="320" TItem="Foo" Items="@Items.Take(10)">
                    <TableColumns>
                        <TableColumn @bind-Field="@context.DateTime" Width="180" />
                        <TableColumn @bind-Field="@context.Name" />
                        <TableColumn @bind-Field="@context.Address" />
                    </TableColumns>
                </Table>
            </CardBody>
            <CardFooter>@((MarkupString)Localizer["DemoAnchor0303"].Value)</CardFooter>
        </Card>
    </Floating>
</DemoBlock>
<Tips class="mt-3"> 
    <p>@((MarkupString)@Localizer["Tips0301"].Value)</p>
    <p>@((MarkupString)@Localizer["Tips0302"].Value)</p>
    <p>@((MarkupString)@Localizer["Tips0303"].Value)</p>
</Tips>


<DemoBlock Title="@Localizer["Normal04"]" Introduction="@Localizer["NormalIntro04"]" Name="Service">
    <div class="row g-3">
        <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
            <Button class="floating-service" OnClick="@ButtonClick0401" Color="Color.Primary">@Localizer["DemoAnchor0401"]</Button>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
            <Button class="floating-service" OnClick="@ButtonClick0402" Color="Color.Primary">@Localizer["DemoAnchor0402"]</Button>
        </div>
    </div>

    <FloatingContainer Id="myContainer2"/>
</DemoBlock>
<Tips class="mt-3"> 
    <p>@((MarkupString)@Localizer["Tips0401"].Value)</p>
    <p>@((MarkupString)@Localizer["Tips0402"].Value)</p>
    <p>@((MarkupString)@Localizer["Tips0403"].Value)</p>
</Tips>

<DemoBlock Title="@Localizer["Normal05"]" Introduction="@Localizer["NormalIntro05"]"  Name="vitural">
    <div class="test-container" style="float:left;margin-right:0.5rem;" @onclick="@UpdatePosition0501">
        <b>@((MarkupString)@Localizer["DemoAnchor0501"].Value)</b>
    </div>

    <div class="test-container" style="float:left;margin-right:0.5rem;" @ref="@Element05">
        <b>@((MarkupString)@Localizer["DemoAnchor0502"].Value)</b>
    </div>

    <div class="test-container" oncontextmenu="return false;"
        @onmouseup="@UpdatePosition0503"
        @onmousemove="@UpdatePosition0504"
        @onclick="@(e=> Visible0503 = false)">
        <b>@((MarkupString)@Localizer["DemoAnchor0503"].Value)</b>
    </div>

    <Floating Class="test-floating"
        Offset="@Offset0501"
        Visible="@Visible0501"
        AutoUpdate="true"
        Placement="Placement.Right"
        ShiftPadding="5"
        AxisOffset="6"
        UseArrow="true"
        ArrowStyleClass="test-arrow"
        ArrowOffset="-4">
        <b>@Localizer["DemoDesc0501"]</b>
    </Floating>

    <Floating Class="test-floating"
        Offset="@Offset0502"
        Visible="@Visible0502"
        AutoUpdate="true"
        Placement="Placement.Right"
        ShiftPadding="5"
        AxisOffset="6"
        UseArrow="true"
        ArrowStyleClass="test-arrow"
        ArrowOffset="-4">
        <b>@Localizer["DemoDesc0502"]</b>
    </Floating>

    <Floating Offset="@Offset0503"
        Visible="@Visible0503"
        AutoUpdate="true"
        Placement="Placement.RightStart">
        <div class="cascade menu dropdown-menu shadow show">
	        <div class="has-leaf dropdown-item">
		        <span>Menu item</span>
		        <i class="fa fa-angle-down nav-link-right"></i>
		        <ul class="nav sub-menu">
			        <li>
				        <div class="has-leaf nav-link">
					        <span>Menu item</span>
					        <i class="fa fa-angle-down nav-link-right"></i>
					        <ul class="nav sub-menu">
						        <li><div class="nav-link"><span>Menu item</span></div></li>
					        </ul>
				        </div>
			        </li>
			        <li><div class="nav-link"><span>Menu item</span></div></li>
			        <li><div class="nav-link"><span>Menu item</span></div></li>
			        <li><div class="nav-link"><span>Menu item</span></div></li>
		        </ul>
	        </div>
	        <div class="has-leaf dropdown-item">
		        <span>Menu item</span>
		        <i class="fa fa-angle-down nav-link-right"></i>
		        <ul class="nav sub-menu">
			        <li><div class="nav-link"><span>Menu item</span></div></li>
			        <li><div class="nav-link"><span>Menu item</span></div></li>
		        </ul>
	        </div>
	        <div class="dropdown-item">Menu item</div>
        </div>
    </Floating>
</DemoBlock>
<Tips class="mt-3"> 
    <p>@((MarkupString)@Localizer["Tips0501"].Value)</p>
    <p>@((MarkupString)@Localizer["Tips0502"].Value)</p>
</Tips>


<p>@((MarkupString)Localizer["Att00"].Value)</p>
<AttributeTable Items="@GetAttributes()" />

@code{

RenderFragment RenderByService =>
@<Card>
    <CardHeader>@((MarkupString)Localizer["DemoDesc0401"].Value)</CardHeader>
    <CardBody>
        <Scroll Height="20rem">
            <EditorForms/>
        </Scroll>
    </CardBody>
</Card>;
}
