@typeparam TItem
@inherits BootstrapComponentBase

@namespace BootstrapBlazor.Components

<div @attributes="@AdditionalAttributes" class="bb-dd-dropzone"
     @ondragover:preventDefault @ondragover="() => {}"
     @ondragenter:preventDefault @ondragenter="() => {}"
     @ondrop:preventDefault @ondrop="() => {}"
     ondragstart="event.dataTransfer.setData('text', event.target.id);"
     @ondrop:stopPropagation
     @ondragenter:stopPropagation
     @ondragend:stopPropagation
     @ondragover:stopPropagation
     @ondragleave:stopPropagation
     @ondragstart:stopPropagation>

    @foreach (var item in Items)
    {
        <div draggable="@IsItemDragable(item)"
             @ondragstart="() => OnDragStart(item)"
             @ondragend="@OnDragEnd"
             @ondragenter="() => OnDragEnter(item)"
             class="@GetItemClass(item) @ItemClass">
            @if (item != null)
            {
                @ChildContent?.Invoke(item)
            }
        </div>

    }
</div>
